*{margin: 0;padding: 0;text-decoration: none;list-style: none;font-size: 12px;}
/*-----------------------------页头-----------------------------*/
#header{
  width: 100%;
  height: 23px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e9e9e9;
  .header-container{
    width: 1003px;
    height: 23px;
    margin:0 auto;
    .container-left{
      width: 120px;
      height: 23px;
      float: left;
      overflow: hidden;
      li{
        line-height: 23px;
        float: left;
        margin-right: 20px;
        a{
          color: #848484;
        }
        a:hover{
          color: #ef2d6b;
          border-bottom: 1px solid #ef2d6b;
        }
      }
    }
    .container-right{
      width: 747px;
      height: 23px;
      float: right;
      //overflow: hidden;
      li{
        float: right;
        line-height: 23px;
        padding-left: 10px;
        padding-right: 10px;
        span{
          width: 7px;
          height: 5px;
          display: block;
          float: right;
          background-image: url("images/m18_09.png");
          margin-left: 10px;
          margin-top: 9px;
        }
        a{
          color: #848484;
        }
      }
      li:nth-child(7){overflow: hidden;}
      li:nth-child(4){overflow: hidden;}
      li:nth-child(3){overflow: hidden;}
      li:nth-child(5){
        s{
          display: block;
          width: 16px;
          height: 15px;
          float: left;
          margin-top: 3px;
          margin-right: 8px;
          background-image: url("images/m18_03.png");
        }
        overflow: hidden;
      }
      li:nth-child(4){
        s{
          display: block;
          width: 9px;
          height: 13px;
          float: left;
          margin-top: 4px;
          margin-right: 8px;
          background-image: url("images/m18_06.png");
        }
        overflow: hidden;
      }
      li:nth-child(2){
        background-color: #cf1111;
        a{color: #fff;}
        overflow: hidden;
      }
      li:nth-child(2):hover{
        a{color: #fff;border-bottom: 1px solid #fff;}
      }
      li:nth-child(1){
        border-right: 1px solid #e9e9e9;
        position: relative;
        div{
          position: absolute;
          display: none;
          width: 84px;
          height: 70px;
          left: 0;
          border: 1px solid #e9e9e9;
          background-image: url("images/文字转换.png");
        }
      }
      li:nth-child(1):hover{
        div{display: block;}
      }
      li:hover{
        a{color: #ef2d6b;}
      }
      li:nth-child(6){
        position: relative;
        div{
          position: absolute;
          width: 109px;
          display: none;
          left: 0;
          border: 1px solid #e9e9e9;
          height: 95px;
          background-image: url("images/购物信息.png");
        }
      }
      li:nth-child(6):hover{
        div{display: block;}
      }
    }
  }
}
/*-----------------------------login-----------------------------*/
#login{
  width: 100%;
  height: 98px;
  .login-container{
    width: 1003px;
    height: 98px;
    margin:0 auto;
    overflow: hidden;
    .container-left{
      width: 221px;
      height: 36px;
      margin-top: 40px;
      margin-left: 10px;
      float: left;
      background-image: url("images/m18_23.png");
    }
    .container-right{
      width: 574px;
      height: 98px;
      float: right;
      .top{
        width: 566px;
        height: 32px;
        background-color: blue;
        margin-top: 25px;
        border: 4px solid #e92323;
        input{
          float: left;
          width: 488px;
          height: 32px;
          border: none;
          //outline: none;
        }
        a{
          float: left;
          width: 78px;
          height: 32px;
          background-color: #e92323;
          text-align: center;
          line-height: 32px;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }
      }
      .bottom{
        width: 574px;
        height: 30px;
        li{
          float: left;
          margin-right: 10px;
          line-height: 30px;
          span{color: #000;font-size: 14px;}
          a{color: #777;}
          a:hover{
            color: #ef2d6b;
            border-bottom: 1px solid #ef2d6b;
          }
        }
      }
    }
  }
}
/*-----------------------------导航-----------------------------*/
#nav{
  width: 100%;
  height: 36px;
  .nav-container{
    width: 1003px;
    height: 36px;
    background-color: #c00;
    margin:0 auto;
    ul{
      width: 1003px;
      height: 36px;
      li{
        float: left;
        width: 16.66%;
        height: 36px;
        position: relative;
        a{
          max-width: 167.1px;
          height: 100%;
          display: block;
          line-height: 36px;
          text-align: center;
          border-right: 1px solid #7f0304;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
        }
        div{
          display: none;
          position: absolute;
          width: 610px;
          top:36px;
          height: 415px;
          z-index: 100;
          border: 1px solid #7f0304;
          border-top: none;
          background-color: yellow;
        }
      }
      li:hover{
        a{
          width: 166.1px;
          height: 35px;
          line-height: 35px;
          border-top:1px solid #7f0304;
          background-color: #fff;
          color: #cc0000;
        }
        div{display: block;}
      }
      li:first-child:hover{a{border-left: 1px solid #7f0304;width:165.1px;}div{left: 0;background-image: url("images/nav1.png");background-size: 100%;}}
      li:nth-child(2){div{left: -1px;background-image: url("images/nav2.png");background-size: 100%;height: 225px;}}
      li:nth-child(3){div{left: -1px;background-image: url("images/nav3.png");background-size: 100%;height: 335px;}}
      li:nth-child(4){div{left: -110px;background-image: url("images/nav4.png");background-size: 100%;height: 255px;}}
      li:nth-child(5){div{left: -277px;background-image: url("images/nav5.png");background-size: 100%;height: 285px;}}
      li:last-child{a{border-right: none;width: 167.1px;}div{left: -444px;background-image: url("images/nav6.png");background-size: 100%;height: 365px;}}
      li:last-child:hover{a{border-right:1px solid #7f0304;}}
    }
  }
}
/*-----------------------------图-----------------------------*/
#tu{
  width: 100%;
  height: 120px;
  margin-top: 10px;
  .tu-container{
    width: 1003px;
    height: 120px;
    margin:0 auto;
    background-image: url("images/m18_30.png");
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
/*-----------------------------banner-----------------------------*/
#banner{
  width: 100%;
  height: 300px;
  margin-top: 15px;
  .banner-container{
    width: 1003px;
    height: 300px;
    margin:0 auto;
    overflow: hidden;
    .container-left{
      width: 725px;
      height: 300px;
      background-color: red;
      float: left;
      a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("images/m18_46.png");
      }
    }
    .container-right{
      width: 263px;
      height: 298px;
      float: left;
      margin-left: 13px;
      border: 1px solid #e9e9e9;
      .top{
        width: 100%;
        height: 30px;
        li{
          a{
            float: left;
            img{
              width: 100px;
              height: 14px;
              margin-top: 10px;
              margin-left: 10px;
            }
          }
          ul{
            margin-right: 15px;
            li{
              float: right;
              width: 7px;
              height: 7px;
              background-color: #848484;
              border-radius: 50%;
              margin-top: 15px;
              margin-right: 3px;
            }
            li:nth-child(4){
              background-color: #cc0000;
            }
          }
        }
      }
      .bottom{
        li{
          width: 243px;
          height: 88px;
          margin-left: 10px;
          a{
            width: 80px;
            height: 80px;
            float: left;
            margin-top: 5px;
          }
          div{
            margin-left: 3px;
            float: left;
            width: 160px;
            height: 80px;
            margin-top: 10px;
            a{
              width: 100%;
              float: none;
              line-height: 20px;
              color: #333;
              cursor: pointer;
              font-size: 12px;
            }
            p{
              margin-left: 130px;
              margin-top: 5px;
            }
            span{
              margin-left: 110px;
              color: #f90f0e;
            }
          }
        }
        li:hover{
          div{a{border-bottom: 1px solid #333;}}
          cursor: pointer;
        }
        li:nth-child(1){border-bottom: 1px dashed #e9e9e9;div{span{margin-left: 130px;}}}
        li:nth-child(2){border-bottom: 1px dashed #e9e9e9;}
      }
    }
  }
}
/*-----------------------------畅销-----------------------------*/
#active{
  width: 100%;
  height: 220px;
  margin-top: 10px;
  .active-container{
    width: 1003px;
    height: 220px;
    margin:0 auto;
    overflow: hidden;
    .container-left{
      width: 723px;
      height: 218px;
      background-color: #f6f6f6;
      border: 1px solid #848484;
      float: left;
      .top{
        width: 723px;
        height: 52px;
        li{
          float: left;
          margin-left: 9px;
          line-height: 52px;
          color: #cfd6db;
          a{
            color: #646468;
          }
          a:hover{
            color: #cf1616;
          }
        }
        li:nth-child(2){
          a{color: #cf1616;}
        }
        li:first-child{
          margin-right: 120px;
          span{
            display: block;
            width: 16px;
            height: 20px;
            background-image: url("images/m18_94.png");
            float: left;
            margin-top: 16px;
            margin-right: 6px;
          }
          h1{
            font-size: 16px;
            color: #cf1616;
            float: left;
          }
        }
      }
      .bottom{
        width: 723px;
        height: 166px;
        li{
          float: left;
          width: 112px;
          margin-left: 22px;
          text-align: center;
          a{
            display: block;
            width: 100%;
            height: 100%;
            p{
              color: #333;
              margin-top: 6px;
              margin-bottom: 9px;
            }
            span{
              color: #f90f0e;
            }
          }
        }
        li:nth-child(2){
          margin-left: 0;
        }
        .tt{
          width: 37px;
          height: 66px;
          line-height:66px;
          text-align: center;
          margin-top: 50px;
          font-size: 18px;
          font-weight: bold;
          color: #a7aab1;
          cursor: pointer;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .container-right{
      width: 265px;
      height: 220px;
      float: right;
    }
  }
}
/*----------------------------限时折扣----------------------------*/
#time{
  width: 100%;
  height: 280px;
  margin-top: 20px;
  .time-container{
    width: 1004px;
    height:280px;
    margin:0 auto;
    overflow: hidden;
    .timea{
      width: 330px;
      height: 280px;
      float: left;
      background-color: #f8f8f8;
      overflow: hidden;
      .a{
        width: 330px;
        height: 40px;
        line-height: 40px;
        background-color: #52b1ff;
        span{
          display: block;
          width: 24px;
          height: 26px;
          float: left;
          margin-top: 6px;
          margin-left: 12px;
        }
        h1{
          font-size: 18px;
          color: #ffffff;
          float: left;
          margin-left: 8px;
        }
        a{
          float: right;
          width: 36px;
          height: 21px;
          line-height: 21px;
          text-align: center;
          color: #fff;
          margin-right: 7px;
          margin-top: 8px;
          border: 1px solid #428ecc;
          border-radius: 3px;
        }
      }
      .b{
        width: 330px;
        height: 112px;
        img{
          margin-top: 12px;
          margin-left: 14px;
        }
        div{
          float: right;
          width: 190px;
          height: 112px;
          margin-top: 12px;
          p{
            width: 145px;
            margin-bottom: 10px;
            color: #333;
            line-height: 20px;
          }
          s{
            text-decoration: line-through;
            text-align: right;
            display: block;
            margin-right: 15px;
            margin-bottom: 15px;
            color: #4f4f4f;
          }
          h1{
            display: block;
            span{
              color: #26a3f4;
              font-weight: bold;
            }
            b{
              float: right;
              font-size: 20px;
              margin-right: 15px;
              color: #333;
            }
          }
        }
      }
      .b:hover{
        p{text-decoration: underline;}
      }
      .c{
        width: 315px;
        height: 64px;
        margin-left: 15px;
        p{
          float: left;
          line-height: 20px;
          width: 215px;
          margin-top: 10px;
          color: #333;
        }
        div{
          margin-right: 15px;
          float: right;
          width: 70px;
          text-align: right;
          s{
            text-decoration: line-through;
            display: block;
            margin-top: 10px;
            color: #9b9b9b;

          }
          b{
            font-size: 14px;
            color: #26a3f4;;
            margin-right: 5px;
          }
        }
      }
      .c:hover p{
        text-decoration: underline;
      }
    }
    .container-left{
      margin-right: 7px;
    }
    .container-center{
      margin-right: 7px;
    }
  }
}
/*----------------------------特色品牌----------------------------*/
#feature{
  width: 100%;
  height: 44px;
  margin-top: 22px;
}
.feature-container{
  width: 1004px;
  height: 44px;
  margin:0 auto;
  .container-left{
    width: 400px;
    height: 44px;
    line-height: 44px;
    float: left;
    h1{
      float: left;
      font-size: 22px;
    }
    span{
      color: #dc0000;
      margin-left: 10px;
    }
  }
  .container-right{
    width: 560px;
    height: 44px;
    float: right;
    li{
      float: right;
      line-height: 44px;
      color: #d9d9d9;
      margin-left: 9px;
      a{
        color: #666;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
#featurea{
  width: 100%;
  height: 142px;
  .featurea-container{
    width: 1002px;
    height: 140px;
    border: 1px solid #eeeeef;
    margin:0 auto;
    overflow: hidden;
    li{
      float: left;
      width: 108px;
      height: 50px;
      border:1px solid #c3c5c7;
      margin-top: 12px;
      margin-left: 13px;
      img{
        width: 108px;
        height: 50px;
      }
    }
    li:hover{
      border:1px solid red;
    }
  }
}
/*----------------------------精选女装----------------------------*/
#choicenes{
  width: 100%;
  height: 44px;
  margin-top: 30px;
}
#choiceness{
  width: 100%;
  height: 337px;
}
.choiceness-container{
  width: 1004px;
  height: 330px;
  border-top: 2px solid #cd0606;
  margin:0 auto;
  padding-top: 5px;
  overflow: hidden;
  .container-left{
    width: 330px;
    height: 330px;
    float: left;
    position: relative;
    opacity: 0.9;
    div{
      position: absolute;
      width: 330px;
      height: 40px;
      background-color: white;
      opacity: 0.5;
      left: 0;
      top:290px;
      text-align: center;
      line-height: 40px;
      color: #cc0000;
      display: none;
    }
  }
  .container-left:hover{
    opacity: 1;
    div{
      display: block;
    }
  }
  .container-center{
    width: 336px;
    height: 330px;
    float: left;
    margin-left: 13px;
    overflow: hidden;
    li{
      float: left;
      margin-right: 5px;
      position: relative;
      opacity: 0.9;
      div{
        position: absolute;
        width: 163px;
        height: 30px;
        left: 0;
        top:133px;
        background-color: white;
        opacity: 0.5;
        text-align: center;
        line-height: 30px;
        color: #cc0000;
        display: none;
      }
    }
    li:hover{
      opacity: 1;
      div{
        display: block;
      }
    }
    li:nth-child(3){
      margin-top: 5px;
    }
    li:nth-child(4){
      margin-top: 5px;
    }
  }
  .container-right{
    width: 325px;
    height: 330px;
    float: left;
    overflow: hidden;
    li{
      opacity: 0.9;
      position: relative;
      div{
        width: 325px;
        height: 30px;
        position: absolute;
        left: 0;
        top:133px;
        background-color: white;
        opacity: 0.5;
        text-align: center;
        line-height: 30px;
        color: #cc0000;
        display: none;
      }
    }
    li:hover{
      opacity: 1;
      div{
        display: block;
      }
    }
    li:nth-child(2){
      margin-top: 5px;
    }
  }
}
/*-------------------------鞋包•配饰•内衣-------------------------*/
#acc{
  width: 100%;
  height: 44px;
  margin-top: 30px;
}
#accs{
  width: 100%;
  height: 337px;
}
/*----------------------------麦网M战----------------------------*/
#m18{
  width: 100%;
  height: 44px;
  margin-top: 30px;
}
#m18s{
  width: 100%;
  height: 468px;
  .m18s-container{
    width: 1004px;
    height: 460px;
    margin:0 auto;
    padding-top: 5px;
    border-top: 2px solid #cd0606;
    border-bottom: 1px solid #918b8d;
    ul{
      margin-top: 10px;
      li{
        float: left;
        margin-left: 15px;
      }
    }
  }
}
/*------------------------------页尾------------------------------*/
#footer{
  width: 100%;
  height: 190px;
  .footer-container{
    width: 992px;
    height: 175px;
    margin:0 auto;
    padding-top: 15px;
    padding-left: 12px;
    line-height: 28px;
    span:nth-child(2){
      margin-left: 500px;
    }
    color: #333;
    a{
      color: #333;
    }
    a:hover{text-decoration: underline;}
    div{
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }
  }
}